*{    
    padding:0;
    margin:0
}

input:focus,textarea:focus{
    outline:0
}

input[type=range]{
    -webkit-appearance:none;
    background-color:#ccc;
    height:2px;
    margin:5px 0
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance:none;
    border-radius:6px;
    border:1px solid #ccc;
    background-color:#fff;
    width:12px;
    height:12px
}

canvas{
    background-color:#fff;
    display:block;
    position:absolute;
    margin:auto;
    top:5px;
    left:5px;
    border:1px solid #ccc;
}

div{
    display:block;
    position:absolute;
    right:5px;
    top:5px;
    width:340px;
    border:1px solid #ccc
}

ul{
    position:absolute
}

ol{
    border:1px solid #ccc;
    width:318px;
    position:absolute
}

ol li{
    padding:1px 10px;
    border:none;
    border-right:1px solid #e0e0e0
}

li{
    color:#555;
    display:inline-block;
    border:1px solid #e0e0e0;
    padding:5px 10px;
    margin-right:-1px;
    cursor:pointer
}

li:hover{
    background-color:#ececec
}

ul li:first-child{
    border-top-left-radius:4px;
    border-bottom-left-radius:4px
}

ul li:last-child{
    border-top-right-radius:4px;
    border-bottom-right-radius:4px
}

input,textarea{
    position:absolute;
    bottom:10px;
    right:10px;
    width:320px;
    max-width:320px;
    border:1px solid #ccc;
    box-sizing:border-box;
    -moz-box-sizing:border-box
}

textarea{
    resize:none;
    top:150px;
    padding:10px;
    bottom:75px}

textarea:focus{
    outline:0
}

label{
    border:1px solid #ccc
}